@page "/AddUser"
@inject UserService _userService;
@inject NavigationManager _navigationManager;
@inherits AddUserBase;

<h1>Add User</h1>

@if(_stateService.LoggedIn==null || (_stateService.LoggedIn!="Admin"))  
{
      <p class="fourOThreeText"><span class="fourOThree">403 |</span> No access rights.</p>
}
else
{
    <EditForm Model="@User" OnValidSubmit="@AddUserAsync">
        <UserFields User="@User"></UserFields>
        <button type="submit" class="btn btn-success buttonAdd">
            <span class="oi oi-pencil"></span>
            <span class="linkButtonText">Add User</span>
        </button>
        <button type="button" class="btn btn-secondary buttonAdd" @onclick="Close">
            <span class="oi oi-media-skip-backward"></span>
            <span class="linkButtonText">Close</span>
        </button>
    </EditForm>
}

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>

